@model  IEnumerable<SelectList>

@{
    ViewBag.Title = "chooseMemberToEdit";
}
<h4>ESolha um membro do qual quer que percentça à comissao de curso</h4>
@using (Html.BeginForm("chooseMemberToEdit", "Admin"))
{
    <div class="form-horizontal">
        <div class="form-group">
           @Html.DropDownListFor("ddlDropDownList",Model,"Default Label", new { @class = "css-class" })
            </div>

    </div>
}
