@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<p>Esta aplicação tem por objetivo permitir a disponibilização de propostas de estágios/projetos por parte das empresas e/ou docentes do Instituto Superior de Engenharia de Coimbra.</p>
