
@{
    ViewBag.Title = "PerfilIncompleto";
}

<h2>Perfil Incompleto!</h2>
@if (User.IsInRole("Aluno"))
{
    <h3>Para submeter, deverá completar o seu perfil em <a href="~/Aluno/PreenchePerfil">Editar Perfil</a></h3>
}

@if (User.IsInRole("Empresa"))
{
    <h3>Para submeter, deverá completar o seu perfil em <a href="~/Empresa/PreenchePerfil">Editar Perfil</a></h3>
}

@*@if (User.IsInRole("Docente"))
{
    <h3>Para submeter, deverá completar o seu perfil em <a href="~/Views/Docente/PreenchePerfil.cshtml">Editar Perfil</a></h3>
}*@
